/* main */
body{background-color: #edf1cd;}
h1{font-family: Arial; font-size: 60px; color: #91c32e; text-transform: uppercase; text-align: center; margin: 50px 0 0 0;}
h2{font-family: Arial; font-size: 30px; color: #363636; text-transform: uppercase; text-align: center; margin: 20px 0 20px 0;}
h3{font-family: Arial; font-size: 20px; color: #363636; text-transform: uppercase; text-align: center; margin: 20px 0 0 0; padding: 0 40px 0 40px;}
h4{font-family: Arial; font-size: 15px; color: #5b5b54; text-transform: uppercase; text-align: center; margin: 20px 0 20px 0; padding: 0 70px 0 70px;}
